.product-display {
  display: flex;
  margin: 0px 170px;
}
.product-display-left {
  display: flex;
  gap: 20px;
}
.product-display-img-list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.product-display-img-list img {
  height: 160px;
}
.product-display-main-img {
  width: 586px;
  height: 700px;
}
